/* App.css */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


input[type="text"],
input[type="search"] {
  color: #111827 !important;
}

input::placeholder {
  color: #9ca3af !important;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #9ca3af !important;
}

::-ms-input-placeholder {
  color: #9ca3af !important;
}

button {
  color: inherit;
}

.text-gray-900 {
  color: #111827 !important;
}

.text-gray-700 {
  color: #374151 !important;
}

.text-gray-600 {
  color: #4b5563 !important;
}

#root > div {
  text-align: left;
}