@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-bgColor: #F7F1DE;
  --color-textPrimary: #C4A484;
  --color-textSecondary: #A8BBA3;
  --color-accent: #B87C4C;
  --color-primary: #777C6D;
  --color-secondary: #B7B89F;
  --color-gradient-start: #0a0024;
  --color-gradient-end: #3a1d58;
  --color-gradient-via: #1b0b38;
  --color-background-color: #0B1221;
}

.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

body::-webkit-scrollbar {
  display: none;
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}